<launch>
  <arg name="paused" default="false"/>
  <arg name="debug" default="false" />
  <arg name="gui" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="urdf_path" default="$(find robot_model)/urdf/robot_gazebo.urdf"/><!--robot_model-->
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/> 
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="urdf_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot_model -x 0 -y 0 -z 0"
    respawn="false" output="screen" />

</launch>
